[Unit]
Description=Slave FW Autostarter

[Service]
WorkingDirectory=/root/
Type=forking
ExecStart=/bin/bash /root/frankenrouter/slavefw.sh
KillMode=process

[Install]
WantedBy=multi-user.target
